<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b7926f3752.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="HealthSolution.css">
    <title>Health Solution</title>
</head>

<body style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(56, 53, 53);">
    <!-- Header -->
    <div class="header">
        <div class="icon_title">
            <img src="logo.jpg" class="img_icon" />
            <div style="width: fit-content;color: orangered;">Health Solution</div>
        </div>
        <div style="display: flex;">
            <button class="menu_btn">Home</button>
            <button class="menu_btn">Doctor</button>
            <button class="menu_btn">Page</button>
            <button class="menu_btn">Departments</button>
            <button class="menu_btn">Pricing</button>
            <button class="menu_btn">Blog</button>
            <button class="menu_btn">Content</button>
            <i class="fa fa-shopping-cart menu_btn" aria-hidden="true"></i>
            <i class="fa fa-search  menu_btn" aria-hidden="true"></i>
        </div>
        <div>
            <button class="header_btn">
                    Make Appoitment
                </button>
        </div>
    </div>

    <!-- 1st page -->
    <div class="first_part" style="background-image:url('images.webp'); background-size: 100%; background-repeat: no-repeat; display: flex; width: 100%;">
        <div class="right_img">
            <h1 style="font-size: 40px; padding-top: 150px; color: rgb(56, 53, 53); ">
                We provide best service for our customer.
            </h1>
            <h4 style="color: rgb(56, 53, 53); ">
                LaboratoryAn absolutely amazing and exciting paper, added David Reich a genetics professor at Harvard who focuses on ancient DNA Until recently connection planet.
            </h4>
            <button style="width: 40%;" class="header_btn ">Know More</button>
        </div>
        <div style="float:right;">
            <h6 class="verticle_text">
                Follow us :-
            </h6>
            <i class="fa fa-facebook socialmedia_icon"></i><br>
            <i class="fa fa-twitter socialmedia_icon"></i><br>
            <i class="fa fa-instagram socialmedia_icon"></i>
        </div>
    </div>

    <div>
        <h2 style="display: flex; justify-content: center; color:rgb(56, 53, 53); ">Medical Service</h2>
        <div>
            <h4 class="div_text">
                Finish after losing each of the first two games by a goal he is a true professor the way he id trains and the way he prepares angers goaltender Henrik Lundqvist he does his job really well.
            </h4>
        </div>
    </div>

    <div class="wrapper">
        <div class="box a" style="background-color: rgb(127, 182, 45);">
            <img src="back_1.jpg" style="opacity: 0.20;width: 100%;height: 100%; position: absolute;" />
            <img src="back_1.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">Health Care</h5>
        </div>
        <div class="box b" style="background-color: rgb(83, 61, 204);">
            <img src="back_2.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
            <img src="back_2.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">Emergency Unit</h5>
        </div>
        <div class="box c" style="background-color: rgb(127, 182, 45);">
            <img src="back_3.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
            <img src="back_3.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">Ambulance Service</h5>
        </div>
        <div class="box d" style="background-color: rgb(83, 61, 204);">
            <img src="back_4.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
            <img src="back_4.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">Eye Care Solution</h5>
        </div>
        <div class="box e" style="background-color: rgb(127, 182, 45);">
            <img src="back_5.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
            <img src="back_5.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">Madecines and Drug Store</h5>
        </div>
        <div class="box f" style="background-color: rgb(83, 61, 204);">
            <img src="back_6.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
            <img src="back_6.jpg" style="width: 30%;height: 43%; position: relative; z-index: 1;margin-top:15%; margin-left: 35%; border-radius: 50%;" />
            <h5 style="display: flex; justify-content: center;">DNA Testing</h5>
        </div>
    </div>

    <div>
        <h2 style="display: flex; justify-content: center; color:rgb(56, 53, 53); margin-top: 10%; ">Fix an Appoitment</h2>
        <div>
            <h4 class="div_text">
                Finish after losing each of the first two games by a goal he is a true professor the way he id trains and the way he prepares angers goaltender Henrik Lundqvist he does his job really well.
            </h4>
        </div>
        <div style="display: flex;">
            <div style="width: 50%;">
                <img src="dr_needle.webp " class="img_2nd ">
            </div>
            <div>
                <form class="appoitment_form">
                    <div style="display: flex;">
                        <input type="text" placeholder="Name" class="input_simple" />
                    </div>
                    <div style="display: flex;">
                        <input type="text" placeholder="Phone" class="input_simple" />
                    </div>
                    <div style="display: flex;">
                        <input type="text" placeholder="What type of service" class="input_design">
                        <button class="button_design">
                            <i class="fa fa-caret-down"  style="color: white;font-size: 30px;"></i>
                        </button>
                    </div>
                    <div style="display: flex;">
                        <input type="text" placeholder="Doctors" class="input_design">
                        <button class="button_design">
                            <i class="fa fa-caret-down"  style="color: white;font-size: 30px;"></i>
                        </button>
                    </div>
                    <div style="display: flex;">
                        <input type="text" placeholder="Appoitment Date" class="input_design">
                        <button class="button_design">
                            <i class="fa fa-calendar-day"  style="color: white;font-size: 30px;"></i>
                        </button>
                    </div>
                    <div style="display: flex; margin-left: 7%;">
                        <div style="display: flex;">
                            <input type="text" placeholder="From" class="inpout_2column">
                            <button style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:100px;border: 1px solid rgb(75, 204, 43);">
                                <i class="fa fa-clock"  style="color: white;font-size: 30px;"></i>
                            </button>
                        </div>
                        <div style="display: flex;">
                            <input type="text" placeholder="To" class="inpout_2column" style="margin-left:19%">
                            <button style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;    width: 140px;border: 1px solid rgb(75, 204, 43);">
                                <i class="fa fa-clock" "  style="color: white;font-size: 30px;"></i>
                            </button>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <button style="margin-left: 10%; background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 1.5rem  1.5rem 1.5rem 1.5rem ;width:100%;border: 1px solid rgb(75, 204, 43);color: white;font-size: larger;">
                           submit
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <h2 style="display: flex; justify-content: center; color:rgb(56, 53, 53); margin-top: 10%; ">Meet with our Doctors</h2>
    <div>
        <h4 class="div_text">
            Finish after losing each of the first two games by a goal he is a true professor the way he id trains and the way he prepares angers goaltender Henrik Lundqvist he does his job really well.
        </h4>
    </div>

    <div style="display: flex;justify-content:center; width: 100%; margin-top: 7%;">

        <div>
            <img src=" doctor1.PNG " alt=" " style="margin-left: 15%;">
            <h4 class="text_doctor">Dixie Armstrong</h4>
            <h5 class="text_doctor" style="margin-top:-15px;">Senior Doctor</h4>
                <div class="icon_div">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter icon_doctor"></i>
                    <i class="fa fa-instagram icon_doctor"></i>
                    <i class="fa fa-linkedin icon_doctor" aria-hidden="true"></i>
                </div>
                <div style="display: flex; justify-content: center;">
                    <h5 class="text_doctor">
                        Saturn and its innermost ring on april 26, the firstof 22such encounters before will plunge into saturn's atmosphere in september
                    </h5>
                </div>
        </div>
        <div style="margin-left: 10%;">
            <img src=" doctor2.PNG " alt=" " style="margin-left: 15%;">
            <h4 class="text_doctor ">Angela Mayer</h4>
            <h5 class="text_doctor " style="margin-top:-15px; ">Senior Doctor</h5>
            <div class="icon_div ">
                <i class="fa fa-facebook "></i>
                <i class="fa fa-twitter icon_doctor "></i>
                <i class="fa fa-instagram icon_doctor "></i>
                <i class="fa fa-linkedin icon_doctor " aria-hidden="true "></i>
            </div>
            <div style="display: flex; justify-content: center;">
                <h5 class="text_doctor">
                    Saturn and its innermost ring on april 26, the firstof 22such encounters before will plunge into saturn's atmosphere in september
                </h5>
            </div>
        </div>
        <div style="margin-left: 10%; ">
            <img src="doctor3.PNG " alt=" " style="margin-left: 15%;">
            <h4 class="text_doctor ">Nana Ruecker</h4>
            <h5 class="text_doctor " style="margin-top:-15px; ">Senior Doctor</h5>
            <div class="icon_div ">
                <i class="fa fa-facebook "></i>
                <i class="fa fa-twitter icon_doctor "></i>
                <i class="fa fa-instagram icon_doctor "></i>
                <i class="fa fa-linkedin icon_doctor " aria-hidden="true "></i>
            </div>
            <div style="display: flex; justify-content: center;">
                <h5 class="text_doctor">
                    Saturn and its innermost ring on april 26, the firstof 22such encounters before will plunge into saturn's atmosphere in september
                </h5>
            </div>
        </div>
    </div>

    <div>
        <h2 style="display: flex; justify-content: center; color:rgb(56, 53, 53); margin-top: 10%; ">Our Departments</h2>
        <div>
            <h4 class="div_text">
                Finish after losing each of the first two games by a goal he is a true professor the way he id trains and the way he prepares angers goaltender Henrik Lundqvist he does his job really well.
            </h4>
        </div>
        <div style="background-color:rgb(142, 192, 67);display: flex; justify-content: space-between; padding: 30px;">
            <div style="padding: 10px;margin-left: 10%;">
                <img src="brain.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 15%;">Nurology</h4>
            </div>
            <div style="padding: 10px; ">
                <img src="heart.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 10%;">Cardiac Surgery</h4>
            </div>
            <div style="padding: 10px; ">
                <img src="eye.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 15%;">Eye Care</h4>
            </div>
            <div style="padding: 10px;">
                <img src="ear.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 15%;">Ent Center </h4>
            </div>
            <div style="padding: 10px; ">
                <img src="tooth.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 15%;">Dental Care </h4>
            </div>
            <div style="padding: 10px; margin-right: 10%;">
                <img src="call.png" alt="" style="display: flex;justify-content: center;width: 50%; height: 50%; margin-left: 20%; margin-top: 20%;">
                <h4 style="display: flex;justify-content: center; color: rgb(8, 8, 8); margin-top: 10%;">Emergamcy call</h4>
            </div>

        </div>
    </div>

    <div style="display:flex; margin-top: 7%;">
        <div style="margin-left: 3%;">
            <img src="baby_doctor.PNG" alt="" style="box-shadow: 100px 100px 0px -50px rgb(142, 192, 67); border-radius: 35px; height: 100%; width: 550px;">
        </div>
        <div style="margin-left: 10%;">
            <div style="width: 60%;">
                <p style="font-size: 35px;">
                    See here about our <b> Nurology </b> Departments
                </p>
            </div>
            <div style="width: 85%;">
                <p style="font-size: 18px;">
                    Promise to open new avenues of research into humans pre history and was met with excitment by genetics and archaelogists.It's a bit like discovering that you can exactgold dust fromthe air".said Adam Siepel, a population genetics at Cold Spring...
                </p>
                <p>
                    Know more >
                </p>
            </div>

        </div>
    </div>

    <div>
        <h2 style="display: flex; justify-content: center; color:rgb(56, 53, 53); margin-top: 10%; ">Our Latest News</h2>
        <div>
            <h4 class="div_text">
                Finish after losing each of the first two games by a goal he is a true professor the way he id trains and the way he prepares angers goaltender Henrik Lundqvist he does his job really well.
            </h4>
        </div>
        <div class="wrapper_1">
            <div class="box a" style="background-color: rgb(46, 40, 40); height: 100%;">
                <img src="back_1.jpg" style="opacity: 0.20;width: 100%;height: 100%; position: absolute;" />
                <h5 class="wrapper_1_h5">Center for Medical</h5>
                <h5 class="wrapper_1_h5_2">Date: 21/09/2017</h5>
            </div>
            <div class="box b" style="background-color: rgb(46, 40, 40); height: 100%;">
                <img src="back_6.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
                <h5 class="wrapper_1_h5">Laboratory Tests</h5>
                <h5 class="wrapper_1_h5_2">Date: 21/09/2017</h5>
            </div>
            <div class="box c" style="background-color: rgb(46, 40, 40); height: 100%;">
                <img src="back_5.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
                <h5 class="wrapper_1_h5">Modern Maternity Ward in the Hospital</h5>
                <h5 class="wrapper_1_h5_2">Date: 21/09/2017</h5>
            </div>
        </div>
        <div class="wrapper_2">
            <div class="box a" style="background-color: rgb(46, 40, 40); height: 113.2%;">
                <img src="back_2.jpg" style="opacity: 0.20;width: 100%;height: 100%; position: absolute;" />
                <h5 class="wrapper_1_h5">Research Center</h5>
                <h5 class="wrapper_1_h5_2">Date: 21/09/2017</h5>
            </div>
            <div class="box b" style="background-color: rgb(46, 40, 40); height: 113.2%;">
                <img src="back_6.jpg" style="opacity: 0.20;width: 100%;height: 100%;position: absolute;" />
                <h5 class="wrapper_1_h5">DNA Research</h5>
                <h5 class="wrapper_1_h5_2">Date: 21/09/2017</h5>
            </div>
        </div>
    </div>


    <div style=" display: flex;background-color: #002244; padding: 25px; margin-top: 10%;">
        <div style="width:25%;margin-left: 5%;">
            <div class="">
                <img src="logo.jpg" class="img_icon" style="border-radius: 5px;" />
                <div style="color: rgb(127, 182, 45);">
                    <h3>Health Solution</h3>
                </div>
            </div>
            <div>
                <h5 class="first_column" style="width:60%; color: white;">Tracks along the Hawalian Emperor chain formedober thesame hot spot in thePacific ocean and why are their chemical compositions.</h5>
            </div>
            <div>
                <i class="fa fa-facebook" style="color: white;"></i>
                <i class="fa fa-twitter icon_doctor" style="color: white;"></i>
                <i class="fa fa-instagram icon_doctor" style="color: white;"></i>
                <i class="fa fa-google-plus icon_doctor" style="color: white;"></i>
            </div>
        </div>
        <div style="width:25%;">
            <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">About us </h3>
            <p class="text_info">Services</p>
            <p class="text_info">Doctors</p>
            <p class="text_info">Appoitments</p>
            <p class="text_info">FAQ</p>
            <p class="text_info">Contact</p>
        </div>
        <div style="width:25%;">
            <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">Contact Info </h3>
            <span style="display: flex; justify-content: left; margin-top: -10%;">
                        <i class="fa fa-phone" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                        <h5 class="text_info" style="margin-top: 12%;">+91 9157189673</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -10%;">
                        <i class="fa fa-envelope" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                        <h5 class="text_info" style="margin-top: 12%;">neel.rana@aimdek.com</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -10%;">
                        <i class="fa fa-home" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                        <h5 class="text_info" style="margin-top: 12%;">+91 9157189673</h5>
                    </span>
        </div>

        <div style="width:30%;">
            <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">Office Hours</h3>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Monday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Tuesday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Wednesday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Thursday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Friday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Saturday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
            <span style="display: flex; justify-content: left; margin-top: -5%;">
                        <h5 class="text_info" style="width:100px">Sunday</h5>
                        <h5 class="text_info">09:00 - 20:00</h5>
                    </span>
        </div>
    </div>
    <div class="footer">
        <p>Medico <i class="fa fa-copyright"></i> 2017 | All Rights Reserved</p>
    </div>
</body>

</html>

</html>